.container {}

.container__checkBox {
    display: flex;
    align-items: center;
    
    margin-bottom: 1rem;
}

.container__checkBox label {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    width: 100%;
    padding: 0.4rem;
}

.container .container__checkBox:nth-child(2) {
    margin-bottom: 1rem;
}

.container.erro .container__span {
    display: flex;
}

.container__span {
    color: red;
    margin-bottom: 2rem;

    display: none;
    align-items: center;
    gap: 0.5rem;
}
