.header {
    background-color: var(--bg-color-header);
    width: 100%;
    padding-block: 1rem;
}

.container {
    max-width: 77rem;
    margin: auto;

    display: grid;
    grid-template-columns: 11rem 43rem 23rem;
    grid-template-areas:
        "Logo SearchBar Ads"
        "UserAddress NavigationMenu UserMenu";
    align-items: center;
}
