.container {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

.container label {
    margin-bottom: 0.5rem;
    font-size: var(--fs-sm);
}

.container input, .container textarea {
    color: var(--text-color-secondary);
    padding: 0.9rem;
    font-size: var(--fs-base);

    border-radius: 8px;
    border: 2px solid #00000045;
}

.container input {
    max-width: 100%;
    width: 18.5rem;
}

input.inputLarge {
    width: 41rem;
}

.container input:focus, .container textarea:focus {
    border: 2px solid var(--stroke-color);
}

.container span {
    color: var(--text-color-secondary);
    font-size: var(--fs-sm);
    letter-spacing: 1px;

    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
